*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
}
html{
    scroll-behavior: smooth;
}
/* navbar section */
nav{
    background-color: #222 !important;
  opacity: 0.4;

}
#navbarSupportedContent a{
    color: aliceblue;
}
.navbar {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    /* margin-left: 110px; */
}
.img{
    margin-top:-15px;
    margin-left: 80px;
}
   
.navbar-collapse{
    margin-left: 130px;
}

.navbar-nav .nav-item a{

font-size:20px;

}
#navbarSupportedContent a:hover{
   
color: gray;

}

.navbar .nav-item{
    
    margin-left:10px;
}
.dropdown-menu li {
    position: relative;
    }
.dropdown-menu .dropdown-submenu {
    display: none;
    position: absolute;
    left: 100%;
    top: -7px;
    }
 .dropdown-menu .dropdown-submenu-left {
    right: 100%;
    left: auto;
    }
 .dropdown-menu > li:hover > .dropdown-submenu {
    display: block;
    }
.dropdown-menu a:hover{
    color:black;
   }
.navbar-toggler-icon .fa-bars{
/* color: #fff; */
font-size: 30px;
}
.search .fa-search{
    border-left: 2px solid white;
}
.my-nav{
  position: absolute;
  width: 100%;
  z-index:999;  
  background: none;
  border: 0;
 border-radius: 0;
}
/* navbar end section */
/* carousel section */
.my-carousel
{
    position: absolute;
    top: -110px;
}
.carousel-caption h3 {
    padding: 70px;
    color: #222;
}
.btn-one{
    background-color:cadetblue;
    border: none;
    border-radius: 5px;
    font-size: 30px;
    color: white;
    margin: 30px;
}



/* carousel end section */

/* footer section */

.footer-box{
    text-align: center;
 margin-top: -140px;
 height: 60px;
}
.footer-box p{
    background-color:cadetblue ;
    color: white;
    font-size: large;
    font-weight: 500;
    height: 50px;
    padding: 20px 0px 50px 0px;
}
.footer-box p:hover{
    color: white;
  text-shadow: 1px 3px 5px #000000;
}
#footer{
    background-color: gray;
}
#links a{
    color: white;
    text-decoration: none; 
}
#links a:hover{
    color:rgb(95, 158, 160);
}
.footer h5{
    color: white;
    font-size: 15px;
    font-weight: 300;
}
.footer p{
    font-weight:400 ;
    font-size: 13px;
}
.footer-copy{
    background-color:rgb(68, 71, 71);
    color: rgb(165, 159, 159);
}
.copy-right a{
    color: rgb(165, 159, 159);
    padding: 20px 0 0;
}
.copy-right a:hover{
    color:cadetblue;
    text-decoration: none;
}
.copy-right p {
    margin-bottom: 40px;
    height: 50px;
}
    /* footer end section */